@charset "UTF-8";

/* 全体 */

*{
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  color: #222;
}

a{
  text-decoration: none;
  color: inherit;
}

.section-title{
  font-size: 30px;
  padding: 0 10px;
  font-family: 'Satisfy', cursive;
}

.flexbox{
  display: flex;
  justify-content: space-around;
}

/* ヘッダー */

header{
  display: flex;
  justify-content: space-between;
  background-color: rgba(135, 238,200, .5);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-logo{
  font-size: 50px;
  padding-left: 40px;
  padding-top: 10px;
  font-family: 'Satisfy', cursive;
}

.header-nav{
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-nav li{
  padding: 14px 20px 14.5px;
  border-top: 5px solid rgba(135, 238,200, 0);
  border-bottom: 5px solid rgba(135, 238,200, 0);
  transition: .3s;
}

.header-nav li:hover{
  color: #f44;
  border-top: 5px solid rgba(255, 64, 64, .7);
  border-bottom: 5px solid rgba(255, 64, 64, .7);
  cursor: pointer;
  transition: .5s;
}

/* スライドショー */
#top-slide{
  width: 100%;
  height: 650px;
  background-color: rgb(135, 238,200);
  position: relative;
  overflow: hidden;
}

.slide-img{
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: slide 12s linear 0s infinite normal;
}

.slide-img:nth-child(2){
  animation-delay: 4s;
}

.slide-img:nth-child(3){
  animation-delay: 8s;
}

.slide-img img{
  width: 100%;
}

@keyframes slide{
  0%    {opacity: 0;}
  15%    {opacity: 0;}
  20%  {opacity: 1;}
  50%  {opacity: 1;}
  55%  {opacity: 0;}
  100%{opacity: 0;}
}

.top-logo{
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Satisfy', cursive;
  text-align: center;
}

.top-logo h2{
  font-size: 100px;
  color: #f44;
}

.top-logo h2::after{
  content: "ほっと一息つける時間を。";
  font-size: 30px;
  font-family: 'Kosugi Maru', sans-serif;
  color: inherit;
  display: block;
}


/* 営業時間 */

.business-hours{
  padding: 20px 0;
  background-color: #f88;
  text-align: center;
  font-size: 30px;
  font-family: 'Glegoo', serif;
}

/* コンセプト */

#concept{
  width: 100%;
  height: 750px;
  background-image: url("../img/concept-bg.jpg");
  background-size: cover;
  position: relative;
}

.concept-box{
  width: 500px;
  padding: 50px;
  text-align: center;
  background-color: rgba(135, 238,200, .6);
  border: 3px solid rgb(135, 238,200);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translate(0, -50%);
}

.concept-box .section-title{
  position: absolute;
  top: -50px;
  left: 30px;
  color: rgb(135, 238,200);
}

#news{
  padding: 50px auto;
  height: 300px;
  background-color: #f88;
  text-align: center;
}

#news .section-title{
  padding: 30px 0;
}

.news-list li a{
  width: 30%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 2px dotted #222;
}

.news-list li a span{
  transition: .3s;
}

.news-list li a:hover span{
  color: rgb(135, 238, 200);
  transition: .5s;
}

#menu{
  background: rgb(135, 238,200);
  height: 450px;
  text-align: center;
}

#menu .section-title{
  padding: 30px 0;
}

#menu .flexbox{
  height: 300px;
  width: 80%;
  margin: 0 auto;
}

.menu-slide{
  width: 40%;
}

.menu-comment{
  width: 40%;
}
